<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Exempel 19</title>
  </head>
<body>
    <h1>Exempel 19</h1>
    
    <script>
    angular.module("myApp" , []).controller("myCtrl", function($scope){
        $scope.names = [
            {name:'Jani', country:'Norway'},
            {name:'Mahmud', country:'Iraq'},
            {name:'Kalle', country:'Sweden'},
            {name:'Kajsa', country:'Madrid'},
        ] ;
    })
    </script>
    
    <div ng-app="myApp" ng-controller="myCtrl">
        <h2>Filtrera efter namn eller land</h2>
        <input type="text" ng-model="searchAll">
        <ul>
            <li ng-repeat="x in names | filter:searchAll">
                {{x.name}} ({{x.country}})
            </li>
        </ul>
        <hr>
        <h2>Filtrera efter namn</h2>
        <input type="text" ng-model="search.name">
        <ul>
            <li ng-repeat="x in names | filter:search">
                {{x.name}}
            </li>
        </ul>
        <hr>
        <h2>Visa alla</h2>
        <ul>
            <li ng-repeat="x in names">
                {{x.name}} , {{x.country}}
            </li>
        </ul>
    </div>
  </body>
</html>