<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Exempel 24</title>
  </head>

<body>
    <h1>Exempel 24</h1>
    <h2>En enkel miniräknare</h2>
    <div ng-app>
        <h2>Ange tal 1: <input type="number" ng-model="tal1"></h2>
        <h2>Ange tal 2: <input type="number" ng-model="tal2"></h2>
        <hr>
        <div ng-show="tal1&&tal2">

            <p> {{tal1}} + {{tal2}} = {{tal1+tal2}}</p>
            <p> {{tal1}} - {{tal2}} = {{tal1-tal2}}</p>
            <p> {{tal1}} &times; {{tal2}} = {{tal1*tal2}}</p>
            <p> {{tal1}} &divide; {{tal2}} = {{tal1/tal2}}</p>
            
        </div>
    </div>
</body>
</html>